# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
caddy_data/
caddy_config/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Vite dev output
.vite/

# Environment
.env
.env.local

# Local Model
backend/videofinder/my_custom_modern_filter