services:
  web:
    image: caddy:latest
    container_name: caddyweb
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - ./public:/srv
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - api

  api:
    build: ./backend/videofinder
    container_name: videoapi
    restart: unless-stopped
    expose:
      - "5000"
    environment:
      - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}

volumes:
  caddy_data:
  caddy_config:
